{% extends 'base.html.twig' %}

{% block title %}FriendsQuest indev {% endblock %}
{% block body %}
    <h1>FriendsQuest Server</h1>
    <div>You are trying to access a FriendsQuest server via a web browser, which is impossible -yet-, please use the app and set the server URL this website.</div>
{% endblock %}