@import "config";

* {
  box-sizing : border-box;
}

body {
  background      : url('../images/background.jpg') no-repeat fixed;
  background-size : cover;
  margin          : 0;
}

.App {
  @extend %set-width;

  margin     : auto;
  height     : 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;


  #Main_Header {
    flex: 0 0 5em;
    background     : linear-gradient(to right, rgba(#ee32ff, .7) 0%, rgba(#898bff, .7) 100%);
    border-radius  : 0 0 10px 10px;
    box-shadow     : 0 0px 10px #111111;
    width          : 100%;
    padding-top    : .5em;
    padding-bottom : .5em;
    display        : flex;

    flex-direction : row;
    align-items    : center;
    padding-left   : 10px;

    img {
      flex-basis    : 4em;
      width         : 4em;
      height        : 4em;
      object-fit    : cover;
      border        : 1px solid black;
      border-radius : 45%;
      box-shadow    : 0 0 2px #111111;
    }

    h2 {
      flex-grow  : 1;
      text-align : center;
    }
  }
}


#Router {
  flex: 1 0;
}