@import './config';

.BackgroundUserImageContainer {
  @extend %set-width;

  position : absolute;
  top      : 0;
  z-index  : -1;
  height   : 100%;
  overflow : hidden;

  .BackgroundUserImage {
    position            : relative;
    left                : -20px;
    top                 : -20px;
    width               : calc(100% + 20px);
    height              : 100%;
    background-size     : cover;
    background-position : center;
    filter              : blur(10px);
  }
}