.darker-blue {
  background-color: rgba(darken(#23232d, 4), .6) !important;
}

.dark-blue {
  background-color: rgba(#2c2c36, .6) !important;
}

#FriendList {
  flex: 1 1;
}

#FriendList-Search {
  width: 2em;
  margin: 1em auto 1em auto;
}